<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>daYamlEditorPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Yaml edition form generator</summary>
  <description>This plugin allow you to easily create a Yaml edition form. Just define the file(s) and the field(s) and that's done.
You can edit any Yaml file (your app.yml, or your customAwesomeConfig.yml, even both in the same form), and use all the sfValidator options you want.</description>
  <lead>
    <name>Damien ALEXANDRE</name>
    <user>dalexandre</user>
    <email>dalexandre@clever-age.com</email>
    <active>yes</active>
  </lead>
  <date>2010-01-13</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.3.0</min>
        <max>1.4.0</max>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>0.1.0</release>
        <api>0.1.0</api>
      </version>
      <stability>
        <release>beta</release>
        <api>beta</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">
        MIT license
      </license>
      <date>2010-01-13</date>
      <license>MIT</license>
      <notes>
         * dalexandre: First release of the plugin
      </notes>
    </release>
  </changelog>
</package>
